html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #111;
  color: #fff;
  font-family: var(--font-roboto), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: #fff;
  color: #111;
}

.dark {
  background-color: #111;
  color: #fff;
}
