.container {
    /* dont need this css as a .container exist in global.css apply here css if dont want to follow global css container properties */
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.img {
  object-fit: cover;
  filter: grayscale(100%);
}

.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #53c28b;
  padding: 5px;
  color: white;
}

.textContainer {
  display: flex;
  gap: 100px;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}